<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Eco</title>
</head>
<body>
    <header></header>
    <nav class="navbar navbar-expand-md bg-success navbar-success">
        <a class="navbar-brand text-light" href="#">ECO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/perfil">PERFIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/score">SCORE</a>
            </li>
          </ul>
        </div>
      </nav>

    <section class="container mt-4">
        <div style="display: flex;flex-direction: column;">
            <div class="text-center">
                <img class="w-25" src="../images/trofeu.png">
            </div>
            <div class="mt-2">
                <h1 class="text-center">TOP 10</h1>
            </div>
        </div>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>
                        USUÁRIO
                    </th>
                    <th>
                        EMAIL
                    </th>
                    <th>
                        SCORE
                    </th>
                </tr>
            </thead>
            <tbody>
                <%users.forEach((user) => {%>
                    <tr>
                        <td>
                            <%=user.name%>
                        </td>
                        <td>
                            <%=user.email%>
                        </td>
                        <td>
                            <%=user.score%>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </section>
</body>

</html>